body {
  background-color: #f1ede7;
  color: #3b2e1e;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  /* h1,
  h2,
  h3,
  h4 {
    color: #292015;
  } */

  .title {
    color: #292015;
  }

  p {
    margin: 0;
  }
}

header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding: 1.25rem 3.125rem;

  .header-title {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    .sub-title {
      margin: 0;
    }
  }

  .language-squares {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0.3125rem 0.3125rem 0.625rem 0.3125rem;
    .language-logo {
      margin: 0.4375rem;
    }
  }

  .header-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .social-media-logos > :nth-child(2) {
    margin-left: 2px;
    margin-right: 2px;
  }
}
