/* TODO - 1.Add shadows to everything + shadows on-hover, 2. Make logos and language squares change color on hover */

body {
  margin: 0;
  padding: 0;
  background-color: #f1ede7;
  color: #3b2e1e;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #292015;
  margin: 0;
  padding: 0;
  margin-bottom: 0.25rem;
}

h1 {
  line-height: 3rem;
}

h2 {
  line-height: 1rem;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding: 20px 50px;
}

.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-title h2 {
  font-weight: 400;
  font-size: 20px;
}

.language-squares {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5px 5px 10px 5px;
}

.language-logo {
  margin: 7px;
}

.header-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-media-logos > :nth-child(2) {
  margin-left: 2px;
  margin-right: 2px;
}

nav {
  width: 100%;
  background-color: #344224;
  color: #ffffff;
  padding: 15px;
  box-sizing: border-box;
}

.navbar-list {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: 1.25rem;
}

.navbar-list a {
  color: #ffffff;
}

.navbar-list a:hover {
  color: #aeb4a8;
}

.logo-link {
  margin-top: 5px;
}

#main {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  row-gap: 20px;
}

.left-column-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  padding: 1.5rem;
}

#left-article-img {
  border: 1px solid red;
  width: 600px;
  height: 700px;
}

.left-article-text {
  text-justify: inter-word;
  text-indent: 2em;
  line-height: 1.5;
}

.left-article-text h2 {
  text-align: center;
  margin: 15px 15px;
}

.right-column-cards {
  display: flex;
  flex-direction: column;
  padding: 0px 20px 16px 16px;
}

.article-card {
  width: 100%;
  display: flex;
  border: 2px solid black;
  padding: 1rem;
  margin-bottom: 25px;
}

.article-card-img {
  width: 100%;
  height: 100%;
  border: 2px solid red;
}

.article-card h3 {
  margin-bottom: 10px;
}

.article-card-text {
  padding: 1rem;
  line-height: 1.5;
}
